*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7e1d7;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select, input, button{
    width: 100%;
    border: none;
    border-radius: 0.75rem;
    outline: none;
}

form input{
    border: 1px solid lightgray;
    font-size: 2rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}
.select-container select{
    font-size: 1rem;
}

.message{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    height: 3rem;
    color: #fff;
    background-color: #af4d98;
    font-size: 1.1rem;
    cursor: pointer;
}